@charset "utf-8";

.img .btn {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.img .btn:hover {
  background-color: black;
}

a.custom-card {
  color: inherit;
}

a.custom-card:hover {
	text-decoration: underline;
	opacity: 0.5;
}

.carousel-item:hover {
	opacity: 0.5;
}

.list-unstyled a:hover {
	text-decoration: underline;
}

video{
  position:relative;
  display:block;
  width:100%; 
}
.float-right{
  position:absolute;
}
section a{
  top:80%;
  right:50%;
}

.navbar-brand {
	opacity: 0.5;
}
 
.navbar-brand:hover {
	opacity: 1.0;
}

a.nav-link {
	padding: 0;
}

a.nav-link:hover {
	opacity: 0.5;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0.1rem;
	padding-top: 0.1rem;
}

.carousel-item {
height: 100%;
overflow: hidden;
width: 100%;
}
.carousel-item img {
width: 100%;
height: 100%;
}